<section>
  <div>
    <%= link_to "<Back", group_entities_path %>
    <h2>NEW TRANSACTION</h2>
  </div>

  <div>
    <%= form_with model: [@group, @group.entities.build] do |form| %>
      <div class="form-bdy">
        <div>
          <%= form.number_field :user_id, id: :purchase_author_id, value: current_user.id, type: :hidden %>
        </div>

        <div class="mb-3">
          <% form.label :name, style: "display: block" %>
          <%= form.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-control border-top-0 border-end-0 border-start-0' %>
        </div>

        <div class="mb-3">
          <% form.label :amount, style: "display: block" %>
          <%= form.number_field :amount, autofocus: true, placeholder: 'Amount', class: 'form-control border-top-0 border-end-0 border-start-0'  %>
        </div>

        <div class="mb-3">
          <%= form.label :group_id, "Group ID" %>
          <%= form.collection_select :group_id, current_user.groups, :id, :name, prompt: true %>
        </div>

        <div>
          <%= form.submit value: 'Submit', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>