<section>
  <div>
    <h2>ADD CATEGORY</h2>
  </div>

  <div>
    <%= form_with(model: group) do |form| %>
      <div class="form-grp d-flex flex-column">
        <div >
          <%= form.number_field :author_id, id: :group_author_id, value: current_user.id, type: :hidden %>
        </div>

        <div>
          <% form.label :name, style: "display: block" %>
          <%= form.text_field :name, autofocus: true, placeholder: 'Name', class: "form-control border-top-0 border-end-0 border-start-0" %>
        </div>

        <div>
          <% form.label :icon, style: "display: block" %>
          <%= form.file_field :icon, class: 'btn btn-outline-light p-0'%>
        </div>

        <div>
          <%= form.submit value: 'Submit', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>