<%= render 'partials/navgrp' %>

<section class="grp-con d-flex flex-column align-items-center justify-content-center">
  <div class="grp-menu d-flex flex-column">
    <% if @groups.empty? %>
      <h3>No records found!</h3>
    <% else %>
      <% @groups.each do |group| %>
        <%= link_to group_entities_path(group) do %>
          <div class="grp-item d-flex align-items-center g-20">
            <div class="img-con">
              <% if group.icon.attached? %>
                <img src="<%= (url_for(group.icon))%>", class: "grp-icon", alt="User Image">
              <% end %>
            </div>

            <div class="grp-details d-flex">
              <h3><%= group.name.capitalize %></h3>
            </div>

            <div class="grp-sum d-flex">
              <p>$<%= group.entities.sum(:amount)%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="grp-add">
    <%= link_to "ADD CATEGORY", new_group_path, class:"grp-add-btn" %>
  </div>
</section>